<div class="box">
  {{#bs-form
    action='submit'
    formLayout='horizontal'
    model=this
    novalidate=true
  }}
    {{#if isMakeAPoll}}
      {{create-options-text
        options=options
        addOption='addOption'
        deleteOption='deleteOption'
        submit='submit'
      }}
    {{else}}
      {{create-options-dates
        options=options
        submit='submit'
      }}
    {{/if}}

    {{form-navigation-buttons
      prevAction='previousPage'
    }}
  {{/bs-form}}
</div>
