<div class="box">
  {{#bs-form
    action="submit"
    formLayout="horizontal"
    model=this
    novalidate=true
    onSubmit=(action "submit")
  as |form|
  }}
    {{#if isMakeAPoll}}
      {{create-options-text
        options=options
        addOption="addOption"
        deleteOption="deleteOption"
        form=form
      }}
    {{else}}
      {{create-options-dates
        options=options
        form=form
      }}
    {{/if}}

    {{form-navigation-buttons
      onPrev=(action "previousPage")
    }}
  {{/bs-form}}
</div>
