<div class="box">
  {{#bs-form
    action='submit'
    formLayout='horizontal'
    model=this
  }}
    {{#if isMakeAPoll}}
      {{create-options-text
        options=options
        addOption='addOption'
        deleteOption='deleteOption'
        submit='submit'
      }}
    {{else}}
      {{create-options-dates
        options=options
        submit='submit'
      }}
    {{/if}}

    {{#bs-form-element}}
      {{bs-button
        buttonType='submit'
        defaultText=(t 'action.next')
        type='primary'
      }}
    {{/bs-form-element}}
  {{/bs-form}}
</div>
