<div class="cr-form-wrapper box">
  {{#bs-form
    action="submit"
    formLayout="horizontal"
    model=this
    novalidate=true
    onInvalid=(scroll-first-invalid-element-into-view-port)
    onSubmit=(action "submit")
  as |form|
  }}
    {{#if isMakeAPoll}}
      {{create-options-text
        options=options
        addOption="addOption"
        deleteOption="deleteOption"
        form=form
      }}
    {{else}}
      {{create-options-dates
        options=options
        form=form
      }}
    {{/if}}

    <div class="row cr-steps-bottom-nav">
      <div class="col-6 col-md-4 text-right">
        <BackButton @onClick={{action "previousPage"}} />
      </div>
      <div class="col-6 col-md-8">
        <NextButton />
      </div>
    </div>
  {{/bs-form}}
</div>
