<BsButton
  @type="primary"
  class="cr-steps-bottom-nav__button cr-steps-bottom-nav__next-button next"
  type="submit"
  ...attributes
>
  <span class="cr-steps-bottom-nav__label">
    {{t "action.save"}}
  </span>

  {{#if @isPending}}
    <LoadingSpinner />
  {{else}}
    <span class="cr-steps-bottom-nav__icon oi oi-circle-check"></span>
  {{/if}}
</BsButton>