@import "ember-power-calendar";

.ember-power-calendar {
  @include ember-power-calendar(30px);
  width: 100%;
}
.ember-power-calendar .ember-power-calendar-day,
.ember-power-calendar .ember-power-calendar-weekday {
  max-width: none;
  width: auto;
  max-height: none;
  height: auto;
  margin: 1px;
}
.ember-power-calendar .ember-power-calendar-weekdays,
.ember-power-calendar .ember-power-calendar-week {
  height: 3em;
  display: flex;
  justify-content: space-around;
}
