@import "ember-power-calendar";

@include media-breakpoint-down(sm) {
  .ember-power-calendar {
    @include ember-power-calendar(30px);
    width: 100%;
  }
  .ember-power-calendar .ember-power-calendar-day,
  .ember-power-calendar .ember-power-calendar-weekday {
    max-width: none;
    width: auto;
    max-height: none;
    height: 10vw;
  }
  .ember-power-calendar .ember-power-calendar-weekdays,
  .ember-power-calendar .ember-power-calendar-week {
    height: calc(10vw + 2px);
  }
}

@include media-breakpoint-up(sm) {
  .ember-power-calendar {
    @include ember-power-calendar($cell-size: 47px);

    float: left;

    &:first-child {
      margin-right: 10px;
    }
  }

  .ember-power-calendar ~ .help-block {
    clear: both;
  }
}

@include media-breakpoint-up(md) {
  .ember-power-calendar {
    @include ember-power-calendar($cell-size: 40px);
  }
}

@include media-breakpoint-up(lg) {
  .ember-power-calendar {
    @include ember-power-calendar($cell-size: 50px);
  }
}
