.cr-navbar {
  background: map-get($theme-colors, dark);
}

.cr-logo {
  font-size: $font-size-base;
  margin-bottom: 0;
  // This is needed for cases when the h1 does not contain a link, like when JS
  // is disabled.
  color: $body-bg;
}

.cr-main {
  padding-top: map-get($spacers, 5);
}

.cr-claim {
  margin-bottom: map-get($spacers, 4);
}

.cr-hide-on-mobile {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.cr-h-auto {
  height: auto !important;
}

// adds the same padding-right as .is-valid / .is-invalid validation feedback
// classes provided by Bootstrap do
.cr-pr-validation {
  padding-right: calc(1.5em + .74rem);
}
