.cr-poll-link {
  &__link {
    position: relative;
    word-wrap: break-word;
    background: gray("200");
    padding: map-get($spacers, 3) map-get($spacers, 3) 3em map-get($spacers, 3);
  }

  &__url {
    user-select: all;
  }

  &__copy-btn {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
