$icon-font-path: "../open-iconic/font/fonts/";
$enable-rounded: false;
$font-family-base: -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
  oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
$jumbotron-padding: 2rem;
$btn-disabled-opacity: 0.45;
