$icon-font-path: '../open-iconic/font/fonts/';

$enable-rounded: false;

$font-family-base: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

$jumbotron-padding: 2rem;

$btn-disabled-opacity: 0.45;
