.ember-table {
  .table {
    // fix: broder between thead and tbody does not
    //      use full width if table is not using
    //      full width
    width: inherit;
    max-width: inherit;
  }

  td {
    &.is-fixed-left {
      // fix: fixed columns must have a non-transparent
      //      background color cause otherwise other
      //      cells are visible on scrolling over them
      background-color: #fff;
    }
  }
}
