# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/api/tests/_output
/api/tests/_tmp
/api/tests/_support/_generated

# dependencies
/node_modules
/bower_components
/api/vendor

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log
