<BsButton
  @buttonType="submit"
  @type="primary"
  class="cr-steps-bottom-nav__button cr-steps-bottom-nav__next-button next"
  ...attributes
>
  <span class="cr-steps-bottom-nav__label">
    {{t "action.next"}}
  </span>

  {{#if @isPending}}
    <LoadingSpinner />
  {{else}}
    <span class="cr-steps-bottom-nav__icon oi oi-caret-right"></span>
  {{/if}}
</BsButton>