<div class="box">
  {{#form-for controller}}
    {{input pollType as='select'
        collection="pollTypes"
        value="pollType"
        optionValuePath="content.id"
        optionLabelPath="content.label"
        labelTranslation='create.index.input.pollType.label'
    }}
  {{/form-for}}

  <button {{action "submit"}} class="btn btn-default btn-primary button-next"> {{t 'create.next'}} </button>
</div>