<div class="box">
  {{#form-wrapper}}
    {{input pollType as='select'
        collection="pollTypes"
        value="model.pollType"
        optionValuePath="content.id"
        optionLabelPath="content.label"
        labelTranslation='create.index.input.pollType.label'
    }}
  {{/form-wrapper}}

  <button {{action "submit"}} class="btn btn-default btn-primary button-next"> {{t 'create.next'}} </button>
</div>
