<div class="box">
  {{#form-for controller}}
    {{input pollType as='select'
        collection="pollTypes"
        value="pollType"
        optionValuePath="content.id"
        optionLabelPath="content.label"
        labelTranslation='create.index.input.pollType.label'
        promptTranslation='create.index.input.pollType.prompt'
    }}
    {{submit 'next'}}
  {{/form-for}}
</div>