<div class="box">
  {{#bs-form
    formLayout="horizontal"
    model=this
    novalidate=true
    onSubmit=(action "submit")
  as |form|
  }}
    {{#form.element
      classNames="poll-type"
      label=(t "create.index.input.pollType.label")
      property="pollType"
      showValidationOn=(array "change" "focusOut")
      useIcons=false
    as |el|
    }}
      {{simple-select
        autofocus=true
        id=el.id
        content=pollTypes
        optionLabelPath="label"
        optionValuePath="id"
        value=el.value
        action=(action (mut el.value) value="id")
      }}
    {{/form.element}}
    {{form-navigation-buttons
      disablePrevButton=true
    }}
  {{/bs-form}}
</div>
