<div class="box">
  {{#fm-form action='submit'}}
    {{fm-field
      value=title
      label=(t 'create.meta.input.title.label')
      placeholder=(t 'create.meta.input.title.placeholder')
      errors=validations.attrs.title.messages
      class='title'
    }}
    {{fm-field
      type='textarea'
      value=model.description
      label=(t 'create.meta.input.description.label')
      placeholder=(t 'create.meta.input.description.placeholder')
      class='description'
    }}
    {{#fm-submit
      fieldWrapperClass='col-sm-10 col-sm-offset-2'
    }}
      {{t 'create.next'}}
    {{/fm-submit}}
  {{/fm-form}}
</div>
