<div class="box">
  {{#bs-form
    formLayout="horizontal"
    model=this
    novalidate=true
    action="submit"
  }}
    {{bs-form-element
      autofocus=true
      classNames='title'
      controlType="text"
      label=(t 'create.meta.input.title.label')
      placeholder=(t 'create.meta.input.title.placeholder')
      property="title"
    }}
    {{bs-form-element
      classNames='description'
      controlType="textarea"
      label=(t 'create.meta.input.description.label')
      placeholder=(t 'create.meta.input.description.placeholder')
      property="description"
    }}
    <div class="row">
      <div class="col-xs-6 col-md-4 text-right">
        {{bs-button
          action='back'
          classNames='back'
          defaultText=(t 'action.back')
        }}
      </div>
      <div class="col-xs-6 col-md-8">
        {{bs-button
          defaultText=(t 'action.next')
          type="primary"
          buttonType="submit"
        }}
      </div>
    </div>
  {{/bs-form}}
</div>
