<div class="box">
  {{#form-for controller}}
    {{input title
        label="title"
        placeholder="Enter a title..."
    }}
    {{input description as='text'
        label="description"
        placeholder="Enter a description if you like..."
        rows=4
    }}
    {{submit 'next'}}
  {{/form-for}}
</div>