<div class="box">
  {{#form-wrapper}}
    {{input title
        labelTranslation='create.meta.input.title.label'
        placeholderTranslation="create.meta.input.title.placeholder"
    }}
    {{input description as='text'
        labelTranslation="create.meta.input.description.label"
        placeholderTranslation="create.meta.input.description.placeholder"
        rows=4
    }}
  {{/form-wrapper}}

  <button {{action "submit"}} class="btn btn-default btn-primary button-next"> {{t 'create.next'}} </button>

</div>
