<div class="cr-form-wrapper box">
  {{#bs-form
    formLayout="horizontal"
    model=this
    novalidate=true
    onSubmit=(action "submit")
  as |form|
  }}
    {{form.element
      autofocus=true
      classNames="title"
      controlType="text"
      label=(t "create.meta.input.title.label")
      placeholder=(t "create.meta.input.title.placeholder")
      property="title"
    }}
    {{form.element
      classNames="description"
      controlType="textarea"
      label=(t "create.meta.input.description.label")
      placeholder=(t "create.meta.input.description.placeholder")
      property="description"
    }}

    <div class="row cr-steps-bottom-nav">
      <div class="col-6 col-md-4 text-right">
        <BackButton @onClick={{action "previousPage"}} />
      </div>
      <div class="col-6 col-md-8">
        <NextButton />
      </div>
    </div>
  {{/bs-form}}
</div>
