<div class="box">
  {{#bs-form
    formLayout="horizontal"
    model=this
    novalidate=true
    action="submit"
  }}
    {{bs-form-element
      classNames='title'
      controlType="text"
      label=(t 'create.meta.input.title.label')
      placeholder=(t 'create.meta.input.title.placeholder')
      property="title"
    }}
    {{bs-form-element
      classNames='description'
      controlType="textarea"
      label=(t 'create.meta.input.description.label')
      placeholder=(t 'create.meta.input.description.placeholder')
      property="description"
    }}
    {{#bs-form-element}}
      {{bs-button
        defaultText=(t 'action.next')
        type="primary"
        buttonType="submit"
      }}
    {{/bs-form-element}}
  {{/bs-form}}
</div>
