<div class="box">
  {{#bs-form
    formLayout="horizontal"
    model=this
    novalidate=true
    action="submit"
  }}
    {{bs-form-element
      autofocus=true
      classNames='title'
      controlType="text"
      label=(t 'create.meta.input.title.label')
      placeholder=(t 'create.meta.input.title.placeholder')
      property="title"
    }}
    {{bs-form-element
      classNames='description'
      controlType="textarea"
      label=(t 'create.meta.input.description.label')
      placeholder=(t 'create.meta.input.description.placeholder')
      property="description"
    }}
    {{form-navigation-buttons
      prevAction='previousPage'
    }}
  {{/bs-form}}
</div>
