<div class="box">
  {{#fm-form
    action='submit'
    isValid=validations.isValid
  }}
    {{#each optionsDateTimes as |optionDateTime|}}
      {{fm-input-group
        type='time'
        step=900
        label=optionDateTime.label
        content=optionDateTime.times
        elementObject=optionsDateTimesTimeObject
      }}
    {{/each}}

    <div class='form-group'>
      <div class='col-sm-10 col-sm-offset-2'>
        <button {{action "copyFirstLine"}} class="btn btn-default button-copy-first-line">{{t "create.options-datetime.copy-first-line"}}</button>
      </div>
    </div>

    {{#fm-submit
      fieldWrapperClass='col-sm-10 col-sm-offset-2'
    }}
      {{t 'create.next'}}
    {{/fm-submit}}
  {{/fm-form}}

</div>
