<div class="box">
  {{#form-for controller}}
    {{input answerType as='select'
      collection="answerTypes"
      value="answerType"
      optionValuePath="content.id"
      optionLabelPath="content.label"
      labelTranslation="create.settings.answerType.label"
      promptTranslation="create.settings.anserType.prompt"
    }}
    {{input anonymousUser as='checkbox'
      labelTranslation="create.settings.anonymousUser.label"
    }}
    {{input forceAnswer as='checkbox'
      labelTranslation="create.settings.forceAnswer.label"
    }}
    {{submit 'save'}}
  {{/form-for}}
</div>