<div class="box">
  {{#form-for controller}}
    {{input answerType as='select'
      collection="answerTypes"
      value="answerType"
      optionValuePath="content.id"
      optionLabelPath="content.label"
      label="available answers"
      prompt="Please define available answers"
    }}
    {{input anonymousUser as='checkbox'
      label="Allow anonym participation?"
    }}
    {{input forceAnswer as='checkbox'
      label="Force an answer?"
    }}
    {{submit 'save'}}
  {{/form-for}}
</div>