{{#bs-button-group justified=true classNames="form-steps"}}
  {{#each formSteps as |formStep|}}
    {{#unless formStep.hidden}}
      <div class="btn-group" role="group">
        {{#bs-button action=(transition-to formStep.route) type=(if formStep.active 'primary' 'default') disabled=formStep.disabled}}
          {{t formStep.label}}
        {{/bs-button}}
      </div>
    {{/unless}}
  {{/each}}
{{/bs-button-group}}

{{outlet}}
