<div class="index">

    <div class="box teaser">
        <h2>
            Croodle simplifies scheduling and decision-making ...<br/>
            ... while keeping your data private
        </h2>
    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="box features">
                <h3>Features</h3>
                <ul>
                    <li>
                        Easily schedule a date or make a poll with as many
                        people as you like.
                    </li>
                    <li>
                        All your private data is encrypted inside your
                        browser.
                        So even the server doesn't know what your schedule
                        or poll is about.
                    </li>
                    <li>
                        Define as much options as you like. Select dates
                        via calendar or define your options as free text.
                    </li>
                    <li>
                        Use pre defined answer options like <i>yes</i>,
                        <i>no</i>, <i>maybe</i> or allow your user to enter
                        free text.
                    </li>
                    <li>
                        An automatically updated evaluation allways gives you
                        an overview which options are preferred.
                    </li>
                </ul>

                <p class="have-a-try">
                    <span class="glyphicon glyphicon-share-alt"></span>
                    {{#link-to 'create'}}have a try right now{{/link-to}}
                </p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box features">
                <h3>Become your own hoster</h3>
                <p>
                    You don't have to trust our server. You could easily
                    host croodle yourself. All you need is a web space
                    with PHP and SSL encryption enabled. You find the
                    source code and installation instructions on
                    <a href="https://github.com/jelhan/croodle">GitHub</a>.
                </p>
            </div>
        </div>
    </div>
</div>