<div id="loading" class="box">
    <div class="loading-animation-container">
        <div id="loading-animation-circle-1" class="loading-animation-circle"></div>
        <div id="loading-animation-circle-2" class="loading-animation-circle"></div>
        <div id="loading-animation-circle-3" class="loading-animation-circle"></div>
        <div id="loading-animation-circle-4" class="loading-animation-circle"></div>
        <div id="loading-animation-circle-5" class="loading-animation-circle"></div>
        <div id="loading-animation-circle-6" class="loading-animation-circle"></div>
        <div id="loading-animation-circle-7" class="loading-animation-circle"></div>
        <div id="loading-animation-circle-8" class="loading-animation-circle"></div>
    </div>
    loading your poll . . .
</div>