name: Test Frontend and backend
# This workflow is triggered on pushes to the repository.
on:
  push:
    branches:
      - master
      - renovate/*
  pull_request:

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - name: Install Dependencies
        run: npm ci
      - name: Lint
        run: npm run lint

  test-bundlesize:
    name: test bundlesize
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install php
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
          extensions: mbstring, zip
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - name: Install node modules
        run: npm ci
      - name: Run tests
        run: npm run test:bundlesize

  test-csp-header:
    name: test CSP in .htaccess
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - name: Install node modules
        run: npm ci
      - name: Run tests
        run: npm run test:csp-header

  test-chrome:
    name: test against Chrome
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - name: Install node modules
        run: npm ci
      - name: Install chrome browser
        run: |
          wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          sudo apt install ./google-chrome-stable_current_amd64.deb
      - name: run tests in Chrome
        run: npm run test:ember

  test-firefox:
    name: test against Firefox
    runs-on: ubuntu-latest
    needs: test-chrome
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - name: Install node modules
        run: npm ci
      - name: Setup firefox
        uses: browser-actions/setup-firefox@latest
        with:
          firefox-version: latest-esr
      - name: run tests in Firefox
        run: npm run test:ember -- --config-file testem.firefox.js

  test-safari:
    name: test against Safari
    runs-on: macos-latest
    needs: test-chrome
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - name: Install php
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          extensions: mbstring, zip
      - name: Install node modules
        run: npm ci
      - name: run tests in Safari
        run: npm run test:ember -- --config-file testem.safari.js

  test-backend:
    name: Test php backend
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: ['7.2', '7.3', '7.4', '8.0', '8.1', '8.2', '8.3']
    steps:
      - name: Checkout repository files
        uses: actions/checkout@v4
      - name: Install php
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: mbstring, zip
      - name: Install php dependencies
        run: composer install
        working-directory: ./api
      - name: Run backend tests
        run: ./vendor/bin/codecept run
        working-directory: ./api
